@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About Inventory Manager</h1>
    <p>
        Inventory Manager is an ASP.NET Core MVC web application. 
        It allows users to keep track of the items in their inventory
        through CRUD functionalities. Items can be created, viewed, updated, 
        and deleted. 
    </p>
</div>
