@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About Inventory Manager</h1>
    <hr />
    <p class="m-xl-5">
        The web application is a personal inventory system. It allows the user to manage the items in their inventory. 
        The web application has five web pages. Four of the web pages is for CRUD functionality that allows for the items 
        in the inventory to be created, read, updated, and deleted from a database. The fifth web page is the about page 
        which describes the web application.
    </p>

    <p class="m-xl-5">
        The web application is a ASP.NET Core MVC web application. The CRUD functionality of the items and the database 
        initialization is handled by Microsoft Entity Framework Core. The database is a LocalDB database.
    </p>
</div>
